<%- include('../partials/header') %>

<h2 class="fw-bold mb-4">Oud Inventory Directory</h2>

<a href="/oud/add" class="btn btn-success mb-3">+ Add New Oud</a>

<div class="card shadow">
  <div class="card-body">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Origin</th>
          <th>Stock</th>
          <th>Price</th>
          <th>Actions</th>
          
        </tr>
      </thead>

      <tbody>
      <% items.forEach(item => { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.origin %></td>
          <td><%= item.stock %></td>
          <td><%= item.price%></td>

          <td>
            <a class="btn btn-warning btn-sm" href="/oud/edit/<%= item._id %>">Edit</a>
            <a class="btn btn-danger btn-sm" href="/oud/delete/<%= item._id %>">Delete</a>
            
          </td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
</div>

<%- include('../partials/footer') %>
